[package]
name = "config"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
figment = { workspace = true }
secrecy = { workspace = true, features = ["serde"] }
serde = { workspace = true }
thiserror = { workspace = true }
